// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

body {
    font-size: 11pt;
    article header h1 a:hover {
        text-decoration: none;
    }
}

li p {
    margin-top: 1.25em;
    margin-bottom: 0em;
}

li p:first-of-type {
    margin-top: 0em;
    margin-bottom: 0em;
}
